* {
    margin: 0;
    padding: 0;
    user-select: none;
    /* Стандартное свойство для большинства браузеров */
    -webkit-user-select: none;
    /* Для Safari и старых версий Chrome */
    -moz-user-select: none;
    /* Для Firefox */
    -ms-user-select: none;
    /* Для IE/Edge */
}

@font-face {
    font-family: 'XO';
    src: url(XO.ttf);
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    font-family: 'XO';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0
}

.gameBoard {
    display: grid;
    grid-template: 170px 170px 170px / 170px 170px 170px;
    gap: 2px;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 10px solid black;
    border-radius: 15px;
}

.cell {
    font-family: 'XO';
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#index-0 {
    border-radius: 10px 0 0 0;
}

#index-2 {
    border-radius: 0 10px 0 0;
}

#index-6 {
    border-radius: 0 0 0 10px;
}

#index-8 {
    border-radius: 0 0 10px 0;
}

.cell:hover {
    cursor: pointer;
    background-color: aquamarine;
}

#player-bar {
    font-size: 1.5em;
}

#game-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 5vh;
}

#wins-block {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 10px solid black;
    border-radius: 15px;
}
#bottom-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#wins-block>div {
    text-align: center;
    padding: 10px;
}

.wins-count {
    background-color: aqua;
    border-radius: 20px;
    width: 232px;
}

.reset-board {
    display: flex;
    justify-content: center;
}

.reset-board>button {
    font-size: 1.3em;
    border: 3px solid black;
    border-radius: 14px;
    font-weight: 700;
    padding: 3px;
}

.reset-board>button:hover {
    cursor: pointer;
    background-color: aquamarine;
    font-weight: 900;
}

#modal-wrapper,
#dialog-input-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'XO';
}
#end-game-message {
    font-size: 2.3em;
}
#restart-game {
    font-family: 'XO';
    font-size: 3em;
    border: 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aqua;
    font-weight: 800;
    text-align: center;
}

#end-game-modal,
#input-names-modal {
    margin: auto;
    width: 328px;
    height: 228px;
    border: 5px solid black;
    border-radius: 15px;
}
#start-game-with-inputs {
    cursor: pointer;
    background-color: aqua;
    border-radius: 15px;
    width: 120px;
    text-align: center;
}
#start-game-with-inputs:active {
    box-shadow: 2px 2px 1px rgb(0, 209, 209);
    text-shadow: 1px 1px 1px rgb(0, 209, 209);
}
.player-input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 80%;
}
.player-input-block>input {
    text-align: center;
    width: 90%;
    border-radius: 15px;
    font-family: 'XO';
    align-self: center;
}
.player-input-block>button {
    border-radius: 8px;
    width: 20%;
    background-color: aqua;
    cursor: pointer;
    align-self: center;
}
#start-game-button {
    font-size: 2em;
    cursor: pointer;
}
#start-game-button:active {
    text-shadow: 2px 2px 2px rgb(201, 201, 201);
}